@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Thanks for stopping by!</h1>
    <p>
        Check out my <a href="https://github.com/jonathan-f-gomez" class="font-weight-bolder">GitHub</a> or my 
                     <a href="https://www.linkedin.com/in/jonathan-f-gomez/" class="font-weight-bolder">LinkedIn!</a>
    </p>
</div>
